<div
  class="w-logo-sm h-logo-sm border-2 border-gray-900 bg-gray-900 overflow-hidden rounded-full relative cursor-pointer group {{isClosed ? 'is-closed' : ''}}">
  <div
    class="w-full h-[8px] bg-green-200 absolute top-1/2 left-0 -translate-y-1/2 shadow-menu-button group-[:not(.is-closed)]:invisible"></div>
  <div
    class="w-full h-[8px] bg-green-200 absolute top-1/2 left-0 -translate-y-1/2 invisible group-[:not(.is-closed)]:visible group-[:not(.is-closed)]:rotate-45"></div>
  <div
    class="w-full h-[8px] bg-green-200 absolute top-1/2 left-0 -translate-y-1/2 invisible group-[:not(.is-closed)]:visible group-[:not(.is-closed)]:-rotate-45"></div>
</div>
